/**app.wxss**/
@backgroundColor: rgb(226, 231, 235);
page{
  --tabs-line-height:44px;
}
.container {
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: @backgroundColor;
}

.content {
  height: calc(100vh - var(--tabs-line-height));
  width: 100%;
  background-color: red;
}