/* pages/time/time.wxss */
.container {
    padding-top: 20rpx;
}

.border {
    background-color: #fff;
    width: calc(100% - 40rpx);
    margin: auto;
    border-radius: 20rpx;
    height: 200rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(155, 155, 151);
}

.custom-class,
.van-cell {

    align-items: center;
}